<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>preact-boilerplate</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, minimal-ui"
		/>
		<meta name="description" content="preact-boilerplate" />
		<meta name="msapplication-TileColor" content="#673ab8" />
		<meta
			name="msapplication-TileImage"
			content="./assets/icons/mstile-150x150.png"
		/>
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<meta name="apple-mobile-web-app-title" content="preact-boilerplate" />
		<meta name="application-name" content="preact-boilerplate" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="theme-color" content="#673ab8" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="./assets/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/assets/icons/favicon-32x32.png"
			sizes="32x32"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/assets/icons/favicon-16x16.png"
			sizes="16x16"
		/>
		<link rel="manifest" href="./manifest.json" />
		<style type="text/css">
			body {
				margin: 40px auto;
				max-width: 650px;
				line-height: 1.6;
				font-size: 18px;
				color: #444;
				padding: 0 10px;
			}
			h1,
			h2,
			h3 {
				line-height: 1.2;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>This is <em>still</em> a motherfucking website.</h1>
			<aside>And it's more fucking perfect than the last guy's.</aside>
		</header>

		<blockquote>
			"You're a fucking moron if you use default browser styles."
			<br />
			- Eleanor Roosevelt
		</blockquote>
		<hr />
		<h2>Epilogue</h2>
		<p>
			Inspired by the geniuses behind
			<a href="http://motherfuckingwebsite.com/">motherfuckingwebsite.com</a>
			and <a href="http://txti.es">txti</a>.
		</p>
		<p>
			This page—that isn't a total fucking eyesore—was created by
			<a href="https://twitter.com/drew_mc">me</a> with help from
			<a href="https://twitter.com/gabehammersmith">him</a>.
		</p>

		<div class="hn-card" data-id="25426185"><blockquote>test</blockquote></div>
		<div class="hn-card" data-id="25426185"></div>
	</body>
</html>
